@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hidden initially */
.mobile-menu {
  transform: translateX(-100%);
  opacity: 0;
}

/* Open animation */
.mobile-menu.open {
  transform: translateX(0);
  opacity: 1;
}

/* Close animation */
.mobile-menu.close {
  transform: translateX(-100%);
  opacity: 1;
}